secret/*
database/*
/db

# auth-service
/auth-service/build/.local.env
/auth-service/build/db

# user-service
/user-service/build/.local.env
/user-service/build/db

# booking-service
/booking-service/build/.local.env
/booking-service/build/db

# payment-service
/payment-service/build/.local.env
/payment-service/build/db

# utils-service
/utils-service/build/tmp
/utils-service/build